@use "sass:list";

$sizes: 400px, 100px;
$moves: 0px, 300px;

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-container {
    height: list.nth($sizes, 1);
    width: list.nth($sizes, 1);
    background-color: grey;
    display: flex;

}

.div-move {
    height: list.nth($sizes, 2);
    width: list.nth($sizes, 2);
    background-color: red;
    animation: 10s 1s linear infinite box-animation;


    @keyframes box-animation {
        0% {
            transform: translate(list.nth($moves, 1), list.nth($moves, 1));
        }

        25% {
            background-color: blue;
            transform: translateX(list.nth($moves, 2));      
        }

        50% {
            background-color: green;
            transform: translate(list.nth($moves, 2), list.nth($moves, 2));
            
        }

        75% {
            background-color: yellow;
            transform: translate(list.nth($moves, 1), list.nth($moves, 2));
            
        }

        100% {
            background-color: red;
        }
    }
}

.div-container {
    @media  screen and (max-width: 768px) {
        transform: scale(0.7);
    }
    @media  screen and (max-width: 410px) {
        transform: scale(0.3);
    }
}
